@model ChalmersxTools.Models.View.EarthSpheresImageToolViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EarthSpheresImageToolView</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="message-box"></div>
        <form id="earth-spheres-images" method="post">
            <div>
                <label for="sphere1Url">Image 1</label>
                <input id="sphere1Url" name="sphere1Url" type="url" style="width: 74%;" value="@Model.Submission.Sphere1Url" />
                <select id="sphere1Name" name="sphere1Name" style="width: 24%;">
                    <option value="">Select sphere</option>
                    <option value="geosphere" @(Model.Submission.Sphere1Name == "geosphere" ? "selected" : "")>Geosphere</option>
                    <option value="atmosphere" @(Model.Submission.Sphere1Name == "atmosphere" ? "selected" : "")>Atmosphere</option>
                    <option value="biosphere" @(Model.Submission.Sphere1Name == "biosphere" ? "selected" : "")>Biosphere</option>
                    <option value="hydrosphere" @(Model.Submission.Sphere1Name == "hydrosphere" ? "selected" : "")>Hydrosphere</option>
                    <option value="cryosphere" @(Model.Submission.Sphere1Name == "cryosphere" ? "selected" : "")>Cryosphere</option>
                </select>
            </div>
            <div>
                <label for="sphere2Url">Image 2</label>
                <input id="sphere2Url" name="sphere2Url" type="url" style="width: 74%;" value="@Model.Submission.Sphere2Url" />
                <select id="sphere2Name" name="sphere2Name" style="width: 24%;">
                    <option value="">Select sphere</option>
                    <option value="geosphere" @(Model.Submission.Sphere2Name == "geosphere" ? "selected" : "")>Geosphere</option>
                    <option value="atmosphere" @(Model.Submission.Sphere2Name == "atmosphere" ? "selected" : "")>Atmosphere</option>
                    <option value="biosphere" @(Model.Submission.Sphere2Name == "biosphere" ? "selected" : "")>Biosphere</option>
                    <option value="hydrosphere" @(Model.Submission.Sphere2Name == "hydrosphere" ? "selected" : "")>Hydrosphere</option>
                    <option value="cryosphere" @(Model.Submission.Sphere2Name == "cryosphere" ? "selected" : "")>Cryosphere</option>
                </select>
            </div>
            <div style="padding-top: 10px;">
                <input type="button" value="Save" onclick="validateAndSubmitForm();">
            </div>
            <input type="hidden" name="action" value="@(Model.Submission == null ? "create" : "edit")">
            <input type="hidden" name="ltiSessionId" value="@Model.LtiSessionId">
        </form>
        @if (Model.Roles == "Administrator" || Model.Roles == "Instructor")
        {
            <br>
            <hr>
            <br>
            <div>
                <p>This information is not visible for students.</p>
                <a href="/Tool/GetData?ltiSessionId=@Model.LtiSessionId">Download data</a>
            </div>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        function validateAndSubmitForm() {
            $("#message-box").text("");

            if ($("#sphere1Url").val() == "" && $("#sphere2Url").val() == "") {
                $("#message-box").html("<span style='color: red;'>You have to enter a valid URL that links to your image.</span>");
            } else if ($("#sphere1Url").val() != "" && $("#sphere1Name").find(":selected").val() == "") {
                $("#message-box").html("<span style='color: red;'>You have to select a sphere for your image.</span>");
            } else if ($("#sphere2Url").val() != "" && $("#sphere2Name").find(":selected").val() == "") {
                $("#message-box").html("<span style='color: red;'>You have to select a sphere for your image.</span>");
            } else {
                document.forms["earth-spheres-images"].submit();
            }
        }
    </script>
</body>
</html>
