@model ChalmersxTools.Models.View.EarthMassToolViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EarthMassToolView</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="message-box">@Html.Raw(Model.ResponseMessage)</div>
        <form id="earth-mass" method="post">
            <div>
                <label for="meanGravityAcceleration">Measured Mean Gravity Acceleration</label>
                <input id="meanGravityAcceleration" name="meanGravityAcceleration" type="url" value="@(Model.Submission == null ? "" : Model.Submission.MeanGravityAcceleration.ToString("e3"))" />
            </div>
            <div>
                <label for="earthMass">Calculated Total Mass of Earth</label>
                <input id="earthMass" name="earthMass" type="url" value="@(Model.Submission == null ? "" : Model.Submission.TotalEarthMass.ToString("e3"))" />
            </div>
            <div style="padding-top: 10px;">
                <input type="button" value="Save" onclick="validateAndSubmitForm();">
            </div>
            <input type="hidden" name="action" value="@(Model.Submission == null ? "create" : "edit")">
            <input type="hidden" name="ltiSessionId" value="@Model.LtiSessionId">
        </form>
        @if (Model.Roles == "Administrator" || Model.Roles == "Instructor")
        {
            <br>
            <hr>
            <br>
            <div>
                <p>This information is not visible for students.</p>
                <a href="/Tool/GetData?ltiSessionId=@Model.LtiSessionId">Download data</a>
            </div>
            <div>
                <p>Earth Mass Average: @Model.EarthMassAverage.ToString("e3")</p>
                <p>Number of Submissions: @Model.NumberOfSubmissions.ToString()</p>
            </div>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        function validateAndSubmitForm() {
            $("#message-box").text("");
            $("#earthMass").val($("#earthMass").val().replace(",", "."));
            $("#meanGravityAcceleration").val($("#meanGravityAcceleration").val().replace(",", "."));


            if ($("#meanGravityAcceleration").val() == "") {
                $("#message-box").html("<span style='color: red;'>You have to enter a value for the mean gravity acceleration.</span>");
            } else if ($("#earthMass").val() == "") {
                $("#message-box").html("<span style='color: red;'>You have to enter a value for the total mass of earth.</span>");
            } else {
                document.forms["earth-mass"].submit();
            }
        }
    </script>
</body>
</html>
