@model ChalmersxTools.Models.View.TemperatureMeasurementToolViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TemperatureMeasurementToolView</title>
</head>
<body>
    <div>
        <div id="message-box">@Html.Raw(Model.ResponseMessage)</div>
        <form id="temperature-measurements" method="post">
            <label for="lat">Latitude</label>
            <input type="number" name="lat" value="@Model.Submission.Position.Latitude"/>
            <label for="long">Longitude</label>
            <input type="number" name="long" value="@Model.Submission.Position.Longitude" />
            <label for="measurement1">Temperature day 1</label>
            <input type="number" name="measurement1" value="@Model.Submission.Measurement1"/>
            <label for="measurement2">Temperature day 2</label>
            <input type="number" name="measurement2" value="@Model.Submission.Measurement2"/>
            <input type="hidden" name="action" value="@(Model.Submission == null ? "create" : "edit")">
            <input type="hidden" name="ltiSessionId" value="@Model.LtiSessionId">
            <input type="submit" value="Save" />
        </form>
        @if (Model.Roles == "Administrator" || Model.Roles == "Instructor")
        {
            <br>
            <hr>
            <br>
            <div>
                <p>This information is not visible for students.</p>
                <a href="/Tool/GetData?ltiSessionId=@Model.LtiSessionId">Download data</a>
            </div>
        }
    </div>
</body>
</html>
