@model ChalmersxTools.Models.View.TemperatureMeasurementToolViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TemperatureMeasurementToolView</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="message-box">@Html.Raw(Model.ResponseMessage)</div>
        <form id="temperature-measurements" method="post">
            <fieldset>
                <legend>Enter your location (decimal degrees)</legend>
                <label for="lat">Latitude</label>
                <input type="text" name="lat" value="@(Model.Submission == null ? "" : Model.Submission.Position.Latitude.ToString())" />
                <label for="long">Longitude</label>
                <input type="text" name="long" value="@(Model.Submission == null ? "" : @Model.Submission.Position.Longitude.ToString())" />
            </fieldset>
            <fieldset>
                <legend>Enter your measurements</legend>
                <label for="measurement1">Temperature day 1</label>
                <input type="text" name="measurement1" value="@(Model.Submission == null ? "" : Model.Submission.Measurement1.ToString())" />
                <label for="measurement2">Temperature day 2</label>
                <input type="text" name="measurement2" value="@(Model.Submission == null ? "" : Model.Submission.Measurement2.ToString())" />
            </fieldset>
            <input type="hidden" name="action" value="@(Model.Submission == null ? "create" : "edit")">
            <input type="hidden" name="ltiSessionId" value="@Model.LtiSessionId">
            <input type="submit" value="Save" />
        </form>
        @if (Model.Roles == "Administrator" || Model.Roles == "Instructor")
        {
            <br>
            <hr>
            <br>
            <div>
                <p>This information is not visible for students.</p>
                <a href="/Tool/GetData?ltiSessionId=@Model.LtiSessionId">Download data</a>
            </div>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
